DATABASE_URL=postgresql://bobax:bobax123@localhost:5432/bobaxshop
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
NEXTAUTH_SECRET=ganti-dengan-secret-random-minimal-32-karakter
NEXTAUTH_URL=http://localhost:3000
BOT_WEBHOOK_SECRET=
NODE_ENV=development
